* {
  box-sizing: border-box;
}
/* Nav */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(201, 178, 150);
  height: 65px;
  padding:0px 30px;
}

.nav a {
  text-decoration: none;
  color: black;
}
.nav div a {
  margin-right: 20px;
}
